<!DOCTYPE html>
<html>
<head>
    <title>home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: black;
            font-family: Times New Roman;
        }

        h1 {
            font-size: 50px;
            background-color: black;
            color: yellow;
            font-family: ROG Fonts;
        }

        div {
            height: 400px;
            width: 800px;
            font-size: 20px;
            color: red;
        }
        p{
            color:cyan;
            font-size:30px;
        }
    </style>
</head>
<body>

    <h1>Welcome to Library Management System</h1>
    <p align="center"><img src="~/image/lib2.jpg" /></p>
    <p>
        Our website is like a magic door that opens up to a world of amazing books and cool stuff.
        Whether you're into exciting stories, learning new things, or just having a good time, we've got something for everyone.
    </p>
    <div>
        New User:&nbsp;&nbsp;<button><a href="~/signup.cshtml" style="color:black;text-decoration:none">signup</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Existing User:&nbsp;&nbsp;<button><a href="~/signin.cshtml" style="color:black;text-decoration:none">signin</a></button>
        <h3 style="color:chartreuse; font-family:'Times New Roman'">This page is reserved as &copy; Library Management System</h3>
    </div>
</body>
</html>